:root {
  --primary-col: #339af0;
  --secondary-col: #fff;
  --col-hover: #d0ebff;
  --arc-hover: #4dabf7;
  --text-main-col: #212529;
  --text-sec-col: #343140;
  --text-least-col: #495057;
  --text-blue: #e7f5ff;
  --footer-col: #333;
  --back-cover: #f1f3f5;
  --small-btn: #f3f0ff;
  --text2-blue: #1864ab;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  color: #555;
}
.container {
  background-color: var(--secondary-col);
  padding: 0 5.2rem;
}
.navigation-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Verdana, sans-serif;
}
.logo {
  font-size: 5rem;
}
.nav-links-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav-list:link,
.nav-list:visited {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-main-col);
  transition: all 0.3s;
}
.nav-list:hover,
.nav-list:active {
  color: var(--arc-hover);
}
.btn_one {
  padding: 1.2rem 2.4rem;
  background-color: var(--primary-col);
  color: var(--secondary-col);
  border: none;
  border-radius: 6px;
  font-size: 1.2rem;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s;
}
.btn_one:focus {
  outline: none;
}
.btn_one:hover {
  background-color: var(--col-hover);
  color: var(--text-main-col);
}
.menu-toggle {
  display: none;
}
.close-icon {
  font-size: 3rem;
  display: none;
  cursor: pointer;
}
.menu-icon {
  font-size: 2.5rem;
  display: none;
  cursor: pointer;
}
.section-header {
  padding: 9.6rem 0 8rem;
}
.paragraph-container {
  text-align: center;
  font-family: Verdana;
}
.top-paragraph,
.below-top-paragraph {
  font-size: 4rem;
  font-weight: 700;
  color: var(--text-main-col);
}
.main-paragraph-tag {
  font-size: 1.8rem;
  color: var(--text-least-col);
  margin-top: 3.5rem;
}
.search-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.4rem;
}
.search-box {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 0.8rem 1rem 1.4rem rgba(0, 0, 0, 0.1);
}
.search-box:focus {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
::placeholder {
  font-size: 0.9rem;
  color: var(--text-least-col);
}
.section-pratical {
  padding: 0 0 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.practical_paragraph {
  margin-right: auto;
  width: 70%;
}
.practical_paragraph h3 {
  font-family: Verdana, sans-serif;
  font-size: 1.8rem;
  white-space: nowrap;
  color: var(--text-main-col);
}
.practical_paragraph p {
  width: 80%;
  font-size: 1.05rem;
  text-align: left;
  color: var(--text-least-col);
  margin-top: 10px;
  line-height: 1.5;
}
.btn_two {
  padding: 1.4rem 1.8rem;
  background-color: var(--primary-col);
  color: #fff;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  white-space: nowrap;
  transition: all 0.3s;
  cursor: pointer;
}
.btn_two:focus {
  outline: none;
}
.btn_two:hover {
  background-color: var(--col-hover);
  color: var(--text-main-col);
}
.btn-text {
  font-size: 1.1rem;
  margin-left: 0.3rem;
}
.btn-icon {
  font-size: 1.1rem;
}
.about {
  padding: 0 4.8rem;
}
.next-about {
  padding: 0 4.8rem 5rem;
}
.about_me {
  padding: 4.8rem 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 5px;
  background-color: var(--back-cover);
}
.poto_2 {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 2rem;
}
.poto_next-me {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 2rem;
}
.para-container {
  width: 80%;
}
.para_text,
.para_text-two {
  line-height: 1.5;
  color: var(--text-sec-col);
}
.para_name,
.para_name-two {
  margin-top: 1rem;
}
.next-me {
  display: none;
}
.skills {
  padding: 0 1rem;
  align-items: center;
}
.skill_grid {
  display: grid;
  grid-template-columns: 35fr 65fr;
  grid-template-rows: 5rem 1fr 1fr 1fr 1fr 5rem;
}
.skill_link {
  grid-row: 2/-2;
}
.skill_menu {
  grid-row: 2/-2;
}
.link-style {
  margin-top: 7rem;
  align-items: center;
}
.latest {
  font-size: 2rem;
  font-weight: 700;
  font-family: Verdana;
}
.link-style p {
  font-size: 1rem;
  line-height: 2;
  color: var(--text-least-col);
  margin-bottom: 2rem;
  margin-left: 0.2rem;
}
.browse {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.browse a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text2-blue);
}
.btn_three {
  border: none;
  font-size: 1rem;
  background-color: var(--secondary-col);
  color: var(--text2-blue);
  cursor: pointer;
}
.grid-col-2 {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu {
  width: 230px;
  height: 100%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.menu:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.menu-content {
  width: 100%;
  padding: 3rem 1rem 2rem;
}
.topic {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  color: var(--text2-blue);
}
.next-topic {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  color: var(--text-main-col);
  white-space: nowrap;
}
.down-text p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--text-least-col);
  white-space: nowrap;
}
.down-text-next p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--text-least-col);
  white-space: nowrap;
}
.down-text {
  margin-bottom: 3rem;
}
.down-text-next {
  margin-bottom: 1.6rem;
}
.btn-container {
  margin-bottom: 3rem;
  display: flex;
  gap: 1rem;
}
.butt_butt {
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 0.8rem;
  background-color: var(--back-cover);
  color: var(--text-sec-col);
  cursor: pointer;
}
.butt_butt:focus {
  outline: none;
}
.butt_butt:hover {
  background-color: var(--small-btn);
  color: var(--text-main-col);
}
.play-Container {
  border: 1px solid var(--primary-col);
  border-radius: 8px;
  background-color: var(--primary-col);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.watch-now {
  font-size: 0.8rem;
  color: var(--secondary-col);
}
.play-icon {
  color: var(--secondary-col);
  display: inline-block;
}
.plans-section {
  padding: 0 8rem 2.4rem;
}
.plans-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  background-color: var(--primary-col);
  padding: 4.2rem;
  border-radius: 5px;
}
.plans-text-container {
  width: 45%;
}
.plan-text-header {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--secondary-col);
  line-height: 1.5;
}
.plan-text {
  margin-top: 2rem;
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--secondary-col);
}
.plan-btn {
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  padding: 1.4rem 3.2rem;
  white-space: nowrap;
  transition: all 0.3s;
  cursor: pointer;
  background-color: var(--secondary-col);
  color: var(--text-main-col);
}
.plan-btn:focus {
  outline: none;
}
.plan-btn:hover {
  background-color: var(--col-hover);
  color: var(--text-main-col);
}
.plan-notshow {
  display: none;
}
.next-card {
  padding: 4.2rem 1rem 5rem;
}
.featured {
  padding: 0 2rem 4.4rem 0;
  font-size: 2rem;
  font-weight: 700;
  font-family: Verdana;
}
.content-span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.grid-content {
  align-items: center;
}
.show-menu {
  display: none;
}
.footer {
  background-color: var(--footer-col);
}
.footer-container {
  padding: 4.8rem 4.8rem 3.2rem;
}
.footer-contain {
  display: flex;
  justify-content: space-evenly;
  white-space: nowrap;
}
.footer-h3 {
  color: var(--secondary-col);
  font-size: 1.2rem;
}
.categories {
  align-items: center;
  margin-top: 0.8rem;
}
.categories li {
  list-style: none;
  margin-top: 2rem;
}
.categories li a {
  text-decoration: none;
  color: var(--arc-hover);
  font-size: 1.05rem;
  transition: all 0.4s;
}
.categories li a:hover {
  text-decoration: underline;
  color: var(--text-blue);
}
.footer-end {
  width: 100%;
  background-color: var(--text-main-col);
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}
.footer-end p {
  color: var(--arc-hover);
}
