/*
---01 TYPOGRAPHY SYSTEM
*Font sisz (px)
10/ 12/ 14/ 16/ 18/ 20/ 24/ 30/ 36/ 44/ 52/ 62/ 74/ 86/ 98/

*Font Weight
    Default: 400
  Medium:  500
  Semi-bold: 600
  Bold: 700

*Line heights
    Default: 1.5
   Small: 
   medium: 
   Paragraph Default: 

*letter-spaceing


---02 COLORS
*Primary:


..Tints: are the lighter version of any 


..Shades:
        

..Accents:


..Greys:
    #555 i might be interested
    #333 this too!

---05 SHADOWS

---06 BORDER_RADIUS
Default: 9px
medium: 

---07 WHITESPACE
    *Spacing System (px)
2/ 4/ 8/ 12/ 24/ 32/ 48/ 64/ 80/ 96/ 128

*/

/*? GENERAL STYLING  */
:root {
  --primary-col: #339af0;
  --secondary-col: #fff;
  --col-hover: #d0ebff;
  --arc-hover: #4dabf7;
  --text-main-col: #212529;
  --text-sec-col: #343140;
  --text-least-col: #495057;
  --text-blue: #e7f5ff;
  --footer-col: #333;
  --back-cover: #f1f3f5;
  --small-btn: #f3f0ff;
  --text2-blue: #1864ab;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  color: #555;
}
.sections {
  padding: 4.8rem 0 9.6rem;
}

/*?  PAGE CONTAINER */
.container {
  background-color: var(--secondary-col);
  padding: 0 5.2rem;
}

/*? NAVIGATION */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-family: Verdana, sans-serif;
}
.logo .icon {
  font-size: 3rem;
}
.main-nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-navigation {
  margin-left: 2.6rem;
}
.right-navigation .nav-list {
  margin-right: 3rem;
}
.nav-links-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-right: 1rem;
}
.nav-list:link,
.nav-list:visited {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-main-col);
  transition: all 0.3s;
}
.nav-list:hover,
.nav-list:active {
  color: var(--arc-hover);
}
.btn_one {
  padding: 1.2rem 2.4rem;
  background-color: var(--primary-col);
  color: var(--secondary-col);
  border: none;
  border-radius: 6px;
  margin-right: 0.8rem;
  font-size: 1.2rem;
  transition: 0.3s;
  cursor: pointer;
  transition: all 0.3s;
}
.btn_one:focus {
  outline: none;
}
.btn_one:hover {
  background-color: var(--col-hover);
  color: var(--text-main-col);
}
.close-icon,
.menu-icon {
  display: none;
}

/*? MAIN HEADER SECTION */
.section-header {
  padding: 9.6rem 0;
}
.paragraph-container {
  text-align: center;
  font-family: Verdana;
}
.top-paragraph,
.below-top-paragraph {
  font-size: 4rem;
  font-weight: 700;
  color: var(--text-main-col);
}
.main-paragraph-tag {
  font-size: 1.8rem;
  color: var(--text-least-col);
  margin-top: 3.5rem;
}
.search-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.4rem;
}
.search-box {
  width: 98%;
  padding: 1.2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 0.8rem 1rem 1.4rem rgba(0, 0, 0, 0.1);
}
.search-box:focus {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
::placeholder {
  font-size: 0.9rem;
  color: var(--text-least-col);
}

/*? SECTION PRACTICAL  */
.section-pratical {
  padding: 0 0 9.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.practical_paragraph {
  margin-right: auto;
  width: 70%;
}
.practical_paragraph h3 {
  font-family: Verdana, sans-serif;
  font-size: 1.8rem;
  white-space: nowrap;
  color: var(--text-main-col);
}
.practical_paragraph p {
  width: 80%;
  font-size: 1.05rem;
  text-align: left;
  color: var(--text-least-col);
  margin-top: 10px;
  line-height: 1.5;
}
.btn_two {
  padding: 1.4rem 2.8rem;
  background-color: var(--primary-col);
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  transition: all 0.3s;
  cursor: pointer;
}
.btn_two:focus {
  outline: none;
}
.btn_two:hover {
  background-color: var(--col-hover);
  color: var(--text-main-col);
}
.btn-text {
  margin-left: 0.6rem;
}
.btn-icon {
  font-size: 1.3rem;
}

/*? ABOUT Section */
.about {
  padding: 0 5rem;
}
.about_me {
  background-color: var(--back-cover);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.8rem 8rem;
  border-radius: 5px;
}
.about-space {
  padding: 0 5rem 8rem;
}
.poto_2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 2rem;
}
.para_para {
  margin-left: 0.5rem;
  line-height: 1.5;
  color: var(--text-sec-col);
}
.para_para .name {
  margin-top: 0.8rem;
}
.para-show,
.name-show {
  display: none;
}

/* ? SKILLS section*/
.skills {
  padding: 0 1rem;
  align-items: center;
}
.skill_grid {
  display: grid;
  grid-template-columns: 35fr 65fr;
  grid-template-rows: 5rem 1fr 1fr 1fr 1fr 5rem;
}
.skill_link {
  grid-row: 2/-2;
}
.skill_menu {
  grid-row: 2/-2;
}
.link-style {
  margin-top: 7rem;
  align-items: center;
}
.latest {
  font-size: 2rem;
  font-weight: 700;
  font-family: Verdana;
}
.link-style p {
  font-size: 1rem;
  line-height: 2;
  color: var(--text-least-col);
  margin-bottom: 2rem;
  margin-left: 0.2rem;
}
.browse {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.browse a {
  text-decoration: none;
  font-size: 1rem;
  color: var(--text2-blue);
}
.btn_three {
  border: none;
  font-size: 1rem;
  background-color: var(--secondary-col);
  color: var(--text2-blue);
  cursor: pointer;
}
.grid-col-2 {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.menu {
  width: 200px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.menu:hover {
  transform: translateY(-1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.menu-content {
  width: 100%;
  padding: 3.2rem 1.2rem 1.2rem;
}
.topic {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--text2-blue);
}
.next-topic {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--text-main-col);
}
.down-text {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 1.8rem;
  line-height: 1.8;
  color: var(--text-least-col);
}
.btn-container {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}
.butt_butt {
  padding: 0.2rem 0.4rem;
  border: none;
  background-color: var(--back-cover);
  color: var(--text-sec-col);
  cursor: pointer;
}
.butt_butt:focus {
  outline: none;
}
.butt_butt:hover {
  background-color: var(--small-btn);
  color: var(--text-main-col);
}
.play-Container {
  border: 1px solid var(--primary-col);
  border-radius: 8px;
  background-color: var(--primary-col);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.watch-now {
  font-size: 0.8rem;
  color: var(--secondary-col);
}
.play-icon {
  color: var(--secondary-col);
  display: inline-block;
}

/*? PLAN Section */
.plans-section {
  padding: 0 8rem 4.4rem;
}
.plans-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-col);
  padding: 5.2rem 4.2rem;
  border-radius: 5px;
}
.plans-text-container {
  margin-left: 1.5rem;
}
.plan-text-header {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--secondary-col);
  line-height: 1.5;
  margin-left: 3rem;
}
.plan-text {
  margin-top: 2rem;
  font-size: 1.3rem;
  line-height: 1.6;
  color: var(--secondary-col);
  margin-left: 3rem;
}
.plans-btn-container {
  margin-left: auto;
  margin-right: 8rem;
}
.plan-btn {
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  padding: 1.4rem 4.4rem;
  transition: all 0.3s;
  cursor: pointer;
  background-color: var(--secondary-col);
  color: var(--text-main-col);
}
.plan-btn:focus {
  outline: none;
}
.plan-btn:hover {
  background-color: var(--col-hover);
  color: var(--text-main-col);
}
.show {
  display: none;
}
.show-plan-text-header {
  display: none;
}
.show-plan-text {
  display: none;
}

/*? Section Next Card  */
.next-card {
  padding: 4.2rem 1rem 7.4rem;
}
.featured {
  padding: 0 2rem 4.4rem 0;
  font-size: 2rem;
  font-weight: 700;
  font-family: Verdana;
}
.content-span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.grid-content {
  align-items: center;
}
.menu-content2 {
  width: 100%;
  padding: 3.2rem 1.2rem 2.4rem;
}
.top-topic {
  font-size: 1.05rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--text-main-col);
}
.diff-topic {
  font-size: 1.001rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: var(--text-main-col);
}
.topic-text {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 3.3rem;
  line-height: 1.8;
  color: var(--text-least-col);
}
.topic-text2 {
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  line-height: 1.8;
  color: var(--text-least-col);
}
.btn-container2 {
  margin-bottom: 2rem;
  display: flex;
  gap: 1rem;
}
.show-menu {
  display: none;
}

/*? Footer  */
.footer {
  background-color: var(--footer-col);
}
.footer-container {
  padding: 8rem;
  margin: 0 4rem;
}
.footer-contain {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5rem;
  white-space: nowrap;
}
.footer-h3 {
  color: var(--secondary-col);
  font-size: 1.4rem;
}
.categories {
  align-items: center;
  margin-top: 2.5rem;
}
.categories li {
  list-style: none;
  margin-top: 1rem;
}
.categories li a {
  text-decoration: none;
  color: var(--arc-hover);
  font-size: 1.2rem;
  transition: all 0.4s;
}
.categories li a:hover {
  text-decoration: underline;
  color: var(--text-blue);
}
.footer-end {
  width: 100%;
  background-color: var(--text-main-col);
  display: flex;
  justify-content: center;
  padding: 1.5rem;
}
.footer-end p {
  color: var(--arc-hover);
}
