/*
---01 TYPOGRAPHY SYSTEM
*Font sisz (px)
10/ 12/ 14/ 16/ 18/ 20/ 24/ 30/ 36/ 44/ 52/ 62/ 74/ 86/ 98/

*Font Weight
    Default: 400
  Medium:  500
  Semi-bold: 600
  Bold: 700

*Line heights
    Default: 1.5
   Small: 
   medium: 
   Paragraph Default: 

*letter-spaceing


---02 COLORS
*Primary:


..Tints: are the lighter version of any 


..Shades:
        

..Accents:


..Greys:
    #555 i might be interested
    #333 this too!

---05 SHADOWS

---06 BORDER_RADIUS
Default: 9px
medium: 

---07 WHITESPACE
    *Spacing System (px)
2/ 4/ 8/ 12/ 24/ 32/ 48/ 64/ 80/ 96/ 128


*/

/*? GENERAL STYLING  */
:root {
  --primary-col: #339af0;
  --secondary-col: #fff;
  --col-hover: #d0ebff;
  --arc-hover: #4dabf7;
  --text-main-col: #212529;
  --text-sec-col: #343140;
  --text-least-col: #495057;
  --text-blue: #e7f5ff;
  --footer-col: #333;
  --back-cover: #f1f3f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  color: #555;
  background-color: var(--primary-col); 
  padding: 5.2rem 3.6rem;
}
.sections {
  padding: 4.8rem 0 9.6rem 0;
}
/*?  PAGE CONTAINER */
.container {
  background-color: var(--secondary-col);
  border-radius: 9px;
}
/*
.poto_1 {
  width: 20%;
}
  */

/*? NAVIGATION */
header {
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  margin: 0 3rem;
  font-family: Verdana, sans-serif;
}
.left-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}
.left-navigation .icon {
  font-size: 3rem;
  margin-right: 1rem;
}
.main-nav-link {
  margin-left: 1.8rem;
}
.nav-links-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.9rem;
}
.nav-list:link,
.nav-list:visited {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-main-col);
  transition: all 0.3s;
  /* font-family:  monospace; */
}
.nav-list:hover,
.nav-list:active {
  color: var(--arc-hover); 
}
.right-navigation .nav-list {
  margin-right: 1rem;
}
.btn_one {
  padding: 1.2rem 2.4rem;
  background-color: var(--primary-col);
  color: var(--secondary-col);
  border: none;
  border-radius: 9px;
  font-size: 1.2rem;
  transition: 0.3s;
  cursor: pointer;
}
.btn_one:focus {
  outline: none;
}
.btn_one:hover {
  background-color: var(--col-hover); 
  color: var(--text-main-col);
}

/*? MAIN PARAGRAPG */
main {
  max-width: 100rem;
}

/*? MAIN HEADER SECTION */
.section-header {
  padding: 9.6rem 0;
}
.paragraph-container {
  text-align: center;
  font-family: Verdana;
}
.top-paragraph,
.below-top-paragraph {
  font-size: 3rem;
  font-weight: 700;
  color: var(--text-main-col);
}
.main-paragraph-tag {
  font-size: 1.2rem;
  color: var(--text-least-col);
  margin-top: 2rem;
}
.search-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4.4rem;
}
.search-box {
  width: 85%;
  padding: 1.2rem;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 0.8rem 1rem 1.4rem rgba(0, 0, 0, 0.1);
}
.search-box:focus {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}
::placeholder {
  font-size: 0.9rem;
  color: var(--text-least-col);
}

/*? SECTION PRACTICAL  */
.section-pratical {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  margin: 0 2rem;
}
.practical_paragraph {
  margin-right: auto;
}
.practical_paragraph h3 {
  font-family: Verdana, sans-serif;
  font-size: 1.8rem;
  color: var(--text-main-col);
}
.practical_paragraph p {
  /* font-family: ; */
  text-align: left;
  color: var(--text-least-col);
  margin-top: 10px;
  line-height: 1.5;
}
.btn_two {
  padding: 1.4rem 2.8rem;
  background-color: var(--primary-col);
  color: #fff;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.btn_two:focus {
  outline: none;
}
.btn_two:hover {
  background-color: var(--col-hover);
  color: var(--text-main-col);
}
.btn-text {
  margin-left: 0.6rem;
}
.btn-icon {
  font-size: 1.1rem;
}

/*? ABOUT Section */
.about {
  padding: 4.8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_me {
  width: 75%;
  background-color: var(--back-cover);
  border-radius: 0.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.poto_2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 2rem;
}
.para_para {
  margin-left: 0.5rem;
}
.para_para {
  line-height: 1.5;
  color: #555;
}
.para_para .para--two {
  margin-top: 2rem;
}

/* ? SKILLS section*/
.skills {
  padding: 0 5rem;
  align-items: center;
}
.skill_grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 5rem 1fr 1fr 5rem;
}
.skill_link {
  grid-column: 1/3;
  grid-row: 2/-2;
}
.link-style {
  margin-top: 2rem;
}
.flex {
  display: flex;
  gap: 5rem;
}
.skill_menu {
  /* background-color: yellowgreen; */
  grid-column: 4/-1;
  grid-row: 2/-2;
}
.menu {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;
  transition: all 0.4s;
}
.menu-content {
  padding: 1.2rem;
}
.topic {
  color: var(--primary-col);
}

/*
.skill_one {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.skill_menu {
  width: 90%;
  display: flex;
}
.skill_link {
  padding: 2rem;
  width: 80%;
  align-items: center;
  margin-top: 3rem;
}
.skill_link h3 {
  font-size: 2rem;
  font-family: Verdana, sans-serif;
}
.skill_link p {
  font-family: Verdana, sans-serif;
  color: #444;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
.browse {
  margin-top: 3rem;
}
.browse a {
  text-decoration: none;
  color: rgb(88, 88, 248);
}
.btn_three {
  background-color: #cde8e5;
  border: none;
  font-size: 1.6rem;
  color: rgb(88, 88, 248);
}
.btn_three:focus {
  outline: none;
}
.menu_menu {
  display: flex;
  margin-left: 5rem;
}
.skill_skill {
  border-radius: 0.5rem;
  background-color: #fff;
  padding: 2rem;
  margin: 0;
  width: 25%;
}
.skil_two {
  margin-left: 15rem;
}
.skil_three {
  margin-left: 1rem;
}
.skil_four {
  margin-left: 1rem;
}
.topic {
  color: #7ab2a6;
}
.skill_skill h3 {
  font-size: 1rem;
  font-family: Verdana, sans-serif;
  margin-top: 0.5rem;
}
.skill_skill .down {
  font-family: Verdana, sans-serif;
  color: #444;
  font-size: 0.9rem;
  margin-top: 1.8rem;
}
.but {
  display: flex;
  justify-content: center;
  align-items: center;
}
.butt_butt {
  width: 80%;
  padding: 0.3rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #7ab2b2;
  color: #fff;
  font-size: 0.9rem;
  font-family: Verdana, sans-serif;
}
.butt_butt:focus {
  outline: none;
}
.more_kill {
  display: flex;
  justify-content: center;
  align-items: center;
}
.skill_more {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #4d869c;
  margin-top: 5rem;
  padding: 6rem;
}
.more_one {
  color: #fff;
  margin-right: auto;
}
.more_one h3 {
  font-size: 2rem;
  font-family: Verdana, sans-serif;
}
.more_one p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 0.9rem;
  margin-top: 2rem;
}
.btn_four {
  margin-left: 0.5rem;
  margin-right: 10rem;
  padding: 2rem;
  background-color: #faf3f3;
  color: #4d869c;
  font-size: 1.6rem;
  border: none;
  border-radius: 0.4rem;
  font-family: Verdana, sans-serif;
}
.btn_four:focus {
  outline: none;
}
.me {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
footer {
  background-color: #333;
  margin-top: 2rem;
  color: #fff;
  padding: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mail {
  text-decoration: none;
  color: #fff;
}
